<%= form_with model: [ @article, @article.comments.build ] do |f|%>
    <p>
      <%= f.label :commenter %>
      <%= f.text_field :commenter %>
    </p>
    <p>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </p>
    <div>
      <%= f.label :status %><br>
      <%= f.select :status, [ 'public', 'private', 'archived' ], selected: 'public' %><br>
    </div>
    <p>
      <%= f.submit %>
    </p>
<% end %>
